<!DOCTYPE html>
<html>
  <head>
    <title>RailsSandBox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-dark bg-dark" style="border-radius: 25px; margin-top: 20px; margin-bottom: 20px;">
        <a class="btn btn-primary" href="/users/new" role="button" style="margin-left: 10px;">Sign up!</a>
        <a class="btn btn-primary" href="#" role="button" style="margin-left: 10px;">...And here</a>
        <a class="btn btn-primary" href="#" role="button" style="margin-left: 10px;">Also here.</a>
      </nav>


      <%= yield %>

    </div>
  </body>
</html>
